.footer{
  color: #fff;
  font-size: 18px;
  @media (max-width: 389px) {
    &{
      font-size: 16px;
    }
  }
  @media (max-width: 346px) {
    &{
      font-size: 14px;
    }
  }
}
.footer__body{
  margin: 0 auto;
  max-width: 500px;
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 30px;
  border: 1px solid teal;
  background: rgba(122, 122, 122, 0.4);
}
.footer__column{
  text-align: center;
  flex: 0 1 33.333%;

}
.footer__item{
  & > *:not(:last-child){
    margin: 0 0 10px 0;
  }
}